.card {
  align-items: flex-start;
  border-radius: 7px;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  box-sizing: border-box;
  display: inline-flex;
  gap: 10px;
  height: auto;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0px 10px 0px 0px;
  width: 100%;
}
.card-frame {
  width: 100px;
  height: 100px;
}
.card-info{
    box-sizing: border-box;
    padding: 5px;
    width: calc( 100% - 100px );
    text-align: left;
}
.card-info > h3{
    color: var(--main-color-text-100);
    margin-bottom: 10px;
}
.card-info > h4{
    color: var(--main-color-text-200);
    font-size: 14px;
}
.card-info > h4 span{
    margin-right: 10px;
    display: block;
}