.app-layout {
  height: 100vh;
  background-color: var(--main-bg);
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  height: 100%;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}
.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  width: 100%;
  position: relative;
  height: 34px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.app-header button {
  all: unset;
  align-items: center;
  color: var(--main-color-text-900);
  cursor: pointer;
  display: block;
  display: inline-flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  border-radius: 2PX;
}
.app-header button:nth-child(2){
  color: var(--main-color-error);
}
.app-header button:hover{
  background-color: rgba(255,255,255,.1);
}
.menu-icon{
  display: block;
  margin-right: 10px;
}
nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: var(--main-bg);
  height: 100%;
  border-radius: 7px;
}
